<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="menu">
        <div class="greeting">
            <p>Hello,<span id="userName"></span></p>
        </div>
        <div class="logout">
            <a href='/logout'><button type='button' name="button">Logout Now!</button></a>
        </div>
    </div>
    {{{body}}}
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="journal.js"></script>

</body>
</html>