<div class="item-container" id="itemContainer">
    <!-- item -->
    <div class="sheet-item">
        <div class="sheet-item-left">
            <ul class="debit-item">
                <li>debit</li>
                <li>202301-001</li>
                <li>20230101</li>
                <li>material fee</li>
                <li>300</li>
            </ul>
            <ul class="credit-item">
                <li>credit</li>
                <li>202301-001</li>
                <li>20230101</li>
                <li>HSBC</li>
                <li>300</li>
            </ul>
        </div>
        <div class="sheet-item-right">
            file.pdf
        </div>
    </div>
    <!-- end of item -->
</div>