@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.app-wrapper {
    display: flex;
    height: 95vh;
    width: 100%;
}

h3{
    color: #272727;
}
/* login */
.log-in{
    background-image: url(./images/businesspeople-meeting-plan-analysis-graph-company-finance-strat.jpg);
    background-size: cover;
    align-items: center;
}

.input-box {
    width: 300px;
    height: 54px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 0 5px;
    box-sizing: border-box;
    background-color: #FFF;
    margin-bottom: 12px;
}

.sign-up-box{
    background-color: azure;
    padding: 30px;
    border-radius: 10px;
    padding-left: 30px;
    margin-left: 40px;
}

.primary-btn {
    width: 100px;
    border-radius:50px;
    background-color:#137885;
    border: 0;
    height: 54px;
    font-size: 16px;
    color: #ffffff;
    margin-right: 20px;
}
.link{
    color: #137885;
    text-decoration: none;
    font-weight: 700;
}
/* sign up */
.sign-up{
    background-image: url(./images/businesspeople-working-finance-accounting-analyze-financi.jpg);
    background-size: cover;
    align-items: center;
}

/* main */
.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: content-box;
}
.greeting{
    flex: 5;
}

.logout {
    flex: 1;
}
/* main */
.index{
    background-color: #eee;
}
.left-wrapper {
    flex: 1;
    background-color: #FFF;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

.right-wrapper {
    flex: 4;
    background-color: #FFF;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.submit-container{
    display: flex;
    justify-content: right;
}

.loss-and-profit {
    display: flex;
    flex-direction: column;
    gap: 50px
}

.sheet-title {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight:600
}

.sheet-title li {
    list-style-type: none;
    flex: 1;
}

.sheet-title li:nth-child(6) {
    flex: 1;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.sheet-item {
    display: flex;
}

.sheet-item-left {
    flex: 6;
    display: flex;
    flex-direction: column;
}

.debit-item,
.credit-item {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.debit-item li,
.credit-item li {
    list-style-type: none;
    flex: 1;
}

.debit-item li:nth-child(6),
.credit-item li:nth-child(6) {
    flex: 1;
}

.sheet-item-right {
    flex: 1;
    word-break: break-all;
}

/* P&L */
.loss,
.profit {
    width: 100%;
}

.loss-item,
.profit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.hidden {
    display: none;
}